@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.-alliance {
  color: #144587;
}

.-horde {
  color: #8C1616;
}

.guild-box {
  color: black;
  background-color: #B6B6B4;
  width: 31vw;
  height: 25vh;
  border-radius: 5px;
  margin-left: 2vw;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-top: 1.5vh;
}

.guild-name {
  font-size: 2em;
  display: block;
  padding: 0 0 0 1vw;
  line-height: 1vh;
}

.server-name {
  font-size: 1.2em;
  color: #404040;
  display: block;
  padding-left: 1vw;
  line-height: 1.5vh;
}

.hr-divider {
  margin-top: 1.5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  border: 1px solid white;
}

.guild-desc {
  font-size: 1.1em;
  color: #282828;
  display: block;
  padding-left: 1vw;
  padding-right: 1vw;
  line-height: 1.9vh;
}
