.ul-nodot {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.ul-nodot li {
  float: left;
  padding-left: 10px;
}

.ul-nodot button {
  background-color: blue;
  border-color: blue;
  color: white;
  border-radius: 5px;
}
